<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

		<title>ĐXT Đảo Rồng Mobile</title>
		<link rel = "icon" href = "https://userpic.codeforces.org/1657001/title/7b916a641c436c8c.jpg">
		<link rel = "stylesheet" href = "/css/index.css">
		<style>
			
		</style>
	</head>
	<body style = "background-color: rgb(228, 136, 146)">
		<div class = "titlePane">
            <div class="smallPane">
                <img src = "https://userpic.codeforces.org/1657001/title/7b916a641c436c8c.jpg" style = "width: 70;height: 70;border-radius: 50%;"> 
                <label style="margin-left: 30px;" onclick = "window.location.href='/';"> <b> Trang chủ</b></label>
            </div>
            <div class = "smallPane">
                <label onclick = "window.location.href='login';"> <b>Đăng nhập /</b> </label>
                <label onclick = "window.location.href='signup';"><b> Đăng ký</b>  </label>
            </div>
            
            
        </div>
		<div class="pane">
			<h1>Đăng nhập</h1>
			<hr>
			<form class="secondPane" onsubmit = "load();return false;">
				<div>
					<label> Tên đăng nhập </label>
					<input type = "textbox" name = "account" id = "account" placeholder="Tên đăng nhập" required>
					
				</div>
				<div>
					<label> Mật khẩu </label>
					<input type = "password" name = "password" id = "password" placeholder="Mật khẩu" required> 
					
				</div>
				<div style = "display: flex;width: 225px;align-items: center;">
					<label>
						<input type = "checkbox" id = "saveAccount" style = "transform: scale(1.3);"> Lưu mật khẩu
					</label>
					
				</div>
				<input type = "submit" value = "Đăng nhập" id = "startButton"> </input>
			</form>
			<pre id = "noti"> </pre>
		</div>
		
		
		<script src="/js/index.js"></script>
	</body>

</html>