<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

		<title>Đăng ký thành công</title>
		<link rel = "icon" href = "https://userpic.codeforces.org/1657001/title/7b916a641c436c8c.jpg">
		<link rel = "stylesheet" href = "/css/signup.css">
	</head>
	<body style = "background-color: rgb(228, 136, 146)">
		<div class = "titlePane">
            <div class="smallPane">
                <img src = "https://userpic.codeforces.org/1657001/title/7b916a641c436c8c.jpg" style = "width: 70;height: 70;border-radius: 50%;"> 
                <label style="margin-left: 30px;" onclick = "window.location.href='/';"> <b> Trang chủ</b></label>
            </div>
            <div class = "smallPane">
                <label onclick = "window.location.href='login';"> <b>Đăng nhập /</b> </label>
                <label><b> Đăng ký</b>  </label>
            </div>
        </div>

		<div class="pane">
			<h1>Đăng ký thành công</h1>
			<hr>
			<div style="text-align:center;margin-top:18px;">
				<p>Bạn đã đăng ký tài khoản thành công. Vui lòng đăng nhập để tiếp tục.</p>
				<button id="backLogin">Quay lại đăng nhập</button>
			</div>
		</div>

		<script>
			document.getElementById('backLogin').addEventListener('click', function(){
				window.location.href = '/login';
			});
		</script>
	</body>
</html>